.category-filter{

    display:flex;

    justify-content:center;

    gap:14px;

    margin-top:24px;

    margin-bottom:24px;

    flex-wrap:wrap;

}

.category-filter button{

padding:12px 24px;

border-radius:999px;

border:1px solid rgba(255,255,255,.08);

background:#171717;

color:#D0D0D0;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.category-filter button:hover{

border-color:var(--primary);

color:var(--primary);

}

.category-filter button.active{

background:var(--primary);

color:#111;

border-color:var(--primary);

}