.contact-page{

padding:90px 0;

}

.contact-hero{

text-align:center;

max-width:760px;

margin:auto;

}

.contact-hero .section-subtitle{

text-align:center;

margin:auto;

}

.contact-layout{

display:grid;

grid-template-columns:1.4fr 1fr;

gap:40px;

margin:90px 0;

align-items:start;

}

.contact-form{

    max-width:900px;

    margin:0 auto;

    padding:50px;

    background:linear-gradient(
        180deg,
        #171717,
        #111111
    );

    border:1px solid rgba(255,255,255,.08);

    border-radius:32px;

    display:flex;

    flex-direction:column;

    gap:22px;

}
.contact-form h2{

    font-size:2rem;

    margin-bottom:6px;

}


.form-subtitle{

    color:var(--secondary-text);

    margin-bottom:18px;

    line-height:1.7;

}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:18px 22px;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.08);

    background:#0d0d0d;

    color:white;

    font:inherit;

    transition:.3s;

    resize:none;

}

.contact-form input:focus,
.contact-form textarea:focus{

    outline:none;

    border-color:var(--primary);

    box-shadow:0 0 0 4px rgba(199,243,107,.08);

}
.contact-info{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:24px;

    margin:90px auto;

    max-width:1100px;

}

.info-card{

    background:#151515;

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    padding:40px 30px;

    text-align:center;

    transition:.35s;

    position:relative;

    overflow:hidden;

}

.info-card::before{

    content:"";

    position:absolute;

    width:180px;

    height:180px;

    border-radius:50%;

    background:rgba(199,243,107,.05);

    top:-80px;

    right:-60px;

}
.info-card:hover{

    transform:translateY(-6px);

    border-color:rgba(199,243,107,.28);

    box-shadow:0 25px 60px rgba(0,0,0,.35);

}

.info-card svg{

    color:var(--primary);

    margin-bottom:22px;

    position:relative;

    z-index:2;

}

.info-card h3{

    margin-bottom:12px;

    font-size:22px;

}

.info-card p{

    color:var(--secondary-text);

    line-height:1.8;

}

.contact-cta{

margin-top:110px;

padding:70px;

border-radius:32px;

background:linear-gradient(180deg,#171717,#101010);

border:1px solid rgba(255,255,255,.08);

text-align:center;

}

.contact-cta h2{

font-size:clamp(2rem,4vw,3.2rem);

margin:18px 0;

}

.contact-cta p{

max-width:650px;

margin:auto;

color:var(--secondary-text);

margin-bottom:35px;

line-height:1.8;

}

.contact-cta .primary-btn{

width:auto;

padding:18px 38px;

}

@media(max-width:900px){

.contact-layout{

grid-template-columns:1fr;

}

}

@media(max-width:640px){

.contact-form{

padding:25px;

}

.contact-cta{

padding:40px 25px;

}

}
@media(max-width:768px){

.contact-info{

grid-template-columns:1fr;

}

}
.input-row{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

}
@media(max-width:700px){

.input-row{

grid-template-columns:1fr;

}

}