.products-page{

    position:relative;

    padding:70px 0 100px;

    min-height:100vh;

}


.products-hero{

    width:100%;

    max-width:850px;

    margin:0 auto;

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

}
.highlight{

color:var(--primary);

}



.results-count{

    color:var(--muted);

    font-size:14px;

    font-weight:600;

    margin-bottom:30px;

}
.products-grid-section{

margin-top:45px;

width:100%;

}