.search-bar{

width:100%;

max-width:820px;

margin:45px auto 0;

display:flex;

align-items:center;

gap:16px;

padding:20px 24px;

background:#171717;

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

transition:.3s;

box-sizing:border-box;

}

.search-bar:focus-within{

border-color:var(--primary);

}

.search-bar input{

flex:1;

background:none;

border:none;

outline:none;

font-size:17px;

color:white;

font-family:inherit;

}

.search-bar svg{

color:#7B7B7B;

flex-shrink:0;

}